/*
    author: Alexis DOUADY
    This css stylesheet follows the SMACSS rules and has been entirely written by myself.
*/

@media screen and (max-width: 1400px)
{
    /* SECTIONS */

    .l-section-title
    {
        left: 50% ! important;

        -webkit-transform:  translateY(-98%) translateX(-50%) ! important;
        -moz-transform:     translateY(-98%) translateX(-50%) ! important;
        -ms-transform:      translateY(-98%) translateX(-50%) ! important;
        -o-transform:       translateY(-98%) translateX(-50%) ! important;
        transform:          translateY(-98%) translateX(-50%) ! important;
    }

    /* BIOGRAPHY */

    .l-bio .l-section-content { justify-content: center; }

    .l-bio-img { display: none; }
}