/*
    author: Alexis DOUADY
    This css stylesheet follows the SMACSS rules and has been entirely written by myself.
*/

@media screen and (max-width: 500px)
{
    /*----------------------------------
    ===========     BASE     ===========
    ----------------------------------*/

    h1   { font-size: 27pt; } /* 48 on Adobe XD */
    h2   { font-size: 22pt; } /* 36 on Adobe XD */
    h3   { font-size: 18pt; } /* 30 on Adobe XD */
    p    { font-size: 12pt; } /* 24 on Adobe XD */
    body { font-size: 12pt; }

    /*----------------------------------
    ==========     LAYOUT     ==========
    ----------------------------------*/

    /* PRESENTATION CARD */

    .l-card header { margin-bottom: 70px; }
    .networks-button     { font-size: 18pt; }

    /* SECTIONS */

    .l-section-title { font-size: 6vw; }

    /* BIOGRAPHY */

    .l-bio-p-text { padding: 0; }
    .l-bio-p .fa { display: none; }

    /* EXPERIENCES */

    .experience-list-bar, .experience-list-bar-item { display: none; }
    .experience-list-experiences { width: 100%; }
    .experience-list { margin: 0; }
}

