/*
    author: Alexis DOUADY
    This css stylesheet follows the SMACSS rules and has been entirely written by myself.
 */

/*----------------------------------
===========     FONTS     ==========
----------------------------------*/

@font-face
{
    src: url("../fonts/Lato-Bold.ttf");
    font-family: "lato-bold";
}

@font-face
{
    src: url("../fonts/Lato-Regular.ttf");
    font-family: "lato-regular";
}

@font-face
{
    src: url("../fonts/Lato-Light.ttf");
    font-family: "lato-light";
}

@font-face
{
    src: url("../fonts/Lato-Semibold.ttf");
    font-family: "lato-semibold";
}

@font-face
{
    src: url("../fonts/Lato-Thin.ttf");
    font-family: "lato-thin";
}

@font-face
{
    src: url("../fonts/Lato-Black.ttf");
    font-family: "lato-black";
}

/*----------------------------------
===========     BASE     ===========
----------------------------------*/

:root
{
    /* COLORS */
    --primary-dark: #005B4F;
    --primary-regular: #00897B;
    --primary-light: #4EBAAA;
    --dark: #2D2D2D;
    --grey: #AFAFAF;
    --light-grey: #EFEFEF;
    --light: #F8F8F8;
    --white: #FFF;

    /* SHADOWS */
    --shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    /* PRESENTATION CARD */
    --l-card-padding:       30px;
    --l-card-table-padding: 50px;

    /* SECTIONS */
    --section-title-width: 900px;
}

* { transition: 1s ease; }

body, html
{
    margin: 0;
    font-family: lato-regular;
    color: var(--dark);
    font-size: 18pt;
    background-image: url("../img/body_background.png");
    background-size: cover;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6, p { margin: 0; }

h1 { font-size: 36pt; } /* 48 on Adobe XD */
h2 { font-size: 27pt; } /* 36 on Adobe XD */
h3 { font-size: 22pt; } /* 30 on Adobe XD */
p  { font-size: 18pt; } /* 24 on Adobe XD */
a  { text-decoration: none; color: inherit; }
strong { font-weight: inherit; }
small { font-family: lato-light; }

/*----------------------------------
==========     LAYOUT     ==========
----------------------------------*/

/* HEADER */

.l-header
{
    width: 100%;
    height: 67vh;
    margin-bottom: 550px;

    -webkit-background-size: cover;
    background-size: cover;
}

/* PRESENTATION CARD */

.l-card
{
    position: relative;
    top: 30vh;

    width: 730px;
    padding: var(--l-card-padding);
    margin: 0 auto;

    border-radius: 15px;
    background-color: var(--white);
}

.l-card header     { display: flex; height: 250px; }
.l-card header > * { position: relative; }

.l-card-image
{
    width: 300px;
    height: 300px;

    right: var(--l-card-padding);
    bottom: var(--l-card-padding);

    -webkit-transform: translateX(-30%) translateY(-30%);
    -moz-transform:    translateX(-30%) translateY(-30%);
    -ms-transform:     translateX(-30%) translateY(-30%);
    -o-transform:      translateX(-30%) translateY(-30%);
    transform:         translateX(-30%) translateY(-30%);

    border: 15px solid var(--dark);
    border-radius: 20px;
}

.l-card-title-block
{
    right: 75px;
    margin-top: 20px;
    width: 500px;
    flex: 0 0 auto ;
}

.l-card-name   { color: var(--primary-regular); font-family: lato-black; }
.l-card-status { color: var(--primary-light); }

.l-card-content
{
    border-spacing: 0 15px;
    position: relative;
    left: var(--l-card-table-padding);
}

.l-card-content td             { width: 150px; }
.l-card-content td:first-child { text-align: right; color: var(--primary-regular); }
.l-card-content td:last-child  { color: var(--grey); padding-left: var(--l-card-table-padding); }

.networks-button
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: 50px;

    border-radius: 10px;
    color: var(--white);
    background-color: var(--primary-light);
    font-family: lato-light;
}

.networks-button > *
{
    margin: 0 10px;
}

/* SECTIONS */

.l-section
{
    width: 80%;
    min-height: 300px;
    max-width: 100vw;
    background-color: var(--white);
    margin: 300px auto;
    border-radius: 20px;
    padding: calc(var(--section-title-width) * 10 / 100);
}

.l-section-title
{
    width: var(--section-title-width);
    height: calc(var(--section-title-width) * 30 / 100);
    line-height: calc(var(--section-title-width) * 28 / 100);
    text-align: center;
    position: absolute;

    -webkit-transform:  translateY(-98%) translateX(calc(100vw - 100% - 300px));
    -moz-transform:     translateY(-98%) translateX(calc(100vw - 100% - 300px));
    -ms-transform:      translateY(-98%) translateX(calc(100vw - 100% - 300px));
    -o-transform:       translateY(-98%) translateX(calc(100vw - 100% - 300px));
    transform:          translateY(-98%) translateX(calc(100vw - 100% - 300px));

    background-image: url("../img/title-bubble-left.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
}

.l-section:nth-child(odd) .l-section-title
{
    background-image: url("../img/title-bubble-right.svg");

    -webkit-transform:  translateY(-98%) translateX(-90px);
    -moz-transform:     translateY(-98%) translateX(-90px);
    -ms-transform:      translateY(-98%) translateX(-90px);
    -o-transform:       translateY(-98%) translateX(-90px);
    transform:          translateY(-98%) translateX(-90px);
}

.l-section-content { width: 100%; min-height: 200px; height: fit-content; }

/* BIOGRAPHY */

.l-bio .l-section-content
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.l-bio-img
{
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    border: 20px solid var(--light-grey)
}

.l-bio-p
{
    width: 950px;
    text-align: justify;
    height: fit-content;
}

.l-bio-p .fa { font-size: 36pt; color: var(--primary-dark) }
.l-bio-p .fa:last-child { float: right; }
.l-bio-p-text { padding: 75px; display: block; color: var(--grey) }

/*----------------------------------
=========     MODULES     ==========
----------------------------------*/

/* ANIMATIONS ON SCROLL */

.animated-hidden, .animated-child { opacity: 0; transform: translateY(50px); }

.animated-hidden.l-section:nth-child(odd) .l-section-title { transform: translateY(20%) translateX(100%); }

/* SHADOWS */

.shadowed
{
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow:    var(--shadow);
    box-shadow:         var(--shadow);
}

/* TITLES */

.title
{
    margin-bottom: 50px;
    color: var(--primary-dark);
    font-family: lato-bold;
}

.title:after
{
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--primary-dark);
    border-radius: 5px;
    margin-top: 2px;
}

.subtitle
{
    font-family: lato-light;
    margin-bottom: 30px;
    color: var(--primary-light);
    font-size: 20pt;
}

/* GAUGES */

.gauge-categories-list
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gauge-category
{
    width: 48%;
    margin-top: 75px;
}

.gauge
{
    width: calc(100% - 30px);
    height: 20px;
    padding-right: 10px;
    margin: 10px 0 20px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 50px;
}

.gauge-percent { font-size: 12pt; color: var(--primary-regular); }

.gauge-fill
{
    border-radius: 50px;
    background-color: var(--primary-regular);
    height: 100%;
}

/* EXPERIENCES */

.experience-list { height: 100%; display: flex; margin-top: 50px; }

.experience-list-bar
{
    flex: 0 1 auto;
    width: 10px;
    transform: translateX(calc(-39.45vw));
    z-index: 2;

    border-radius: 20px;
    background-color: var(--primary-regular);
}

.experience-list-bar-item
{
    width: 75px;
    height: 75px;
    position: absolute;
    left: 50%;
    z-index: 3;

    transform: translateX(-50%);

    text-align: center;
    line-height: 65px;
    color: var(--white);

    background-color: var(--primary-regular);
    border-radius: 50%;
}

.experience-list-experiences
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    align-content: center;
    width: 100%;
}

.experience
{
    width: 40%;
    height: fit-content;
    padding: 25px;

    border-radius: 20px;
}

.experience-period { color: var(--grey); }

.experience:nth-child(even){ margin-top: 100px; }

.experience .title { margin: 10px 0; color: var(--primary-regular); }
.experience .title:after { background-color: var(--primary-regular); }

.experience-description { text-align: justify; }

/*----------------------------------
==========     STATES     ==========
----------------------------------*/

/*.is-... */