/*
    author: Alexis DOUADY
    This css stylesheet follows the SMACSS rules and has been entirely written by myself.
*/

@media screen and (max-width: 1000px)
{
    /*----------------------------------
    ===========     BASE     ===========
    ----------------------------------*/

    :root { --section-title-width: 98vw; }

    h1   { font-size: 30pt; } /* 48 on Adobe XD */
    h2   { font-size: 24pt; } /* 36 on Adobe XD */
    h3   { font-size: 20pt; } /* 30 on Adobe XD */
    p    { font-size: 16pt; } /* 24 on Adobe XD */
    body { font-size: 14pt; }

    /*----------------------------------
    ==========     LAYOUT     ==========
    ----------------------------------*/

    /* PRESENTATION CARD */

    .l-header { margin-bottom: 700px; }
    .l-card { width: calc(100vw - 4 * var(--l-card-padding)); margin: 0 auto; }
    .l-card header > * { margin: 0 auto 0 auto; }

    .l-card header
    {
        flex-direction: column;
        position: relative;

        -webkit-transform: translateY(-30%);
        -moz-transform: translateY(-30%);
        -ms-transform: translateY(-30%);
        -o-transform: translateY(-30%);
        transform: translateY(-30%);
        margin-bottom: 30px;
    }

    .l-card-image
    {
        width: 200px;
        height: 200px;

        left: 0;

        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;

        border-width: 10px;
    }

    .l-card-title-block
    {
        text-align: center;
        left: 0;
        width: initial;
        flex: initial;
    }

    .l-card-content { position: static; width: 100%; }
    .l-card-content tr { display: flex; flex-direction: column; }
    .l-card-content td
    {
        text-align: center  ! important;
        padding: 5px 0      ! important;
        width: 100%;
    }

    .networks-button { font-size: 18pt; }

    /* SECTIONS */

    .l-section-title { font-size: 3.75vw; }

    /*----------------------------------
    =========     MODULES     ==========
    ----------------------------------*/

    /* GAUGES */

    .gauge-category { width: 100%; }
    .gauge-category-title { text-align: center; }

    /* EXPERIENCES */

    .experience-list { justify-content: space-between; }
    .experience-list-experiences { flex-direction: column; width: 70%; margin: 0; }
    .experience-list-bar { transform: none; width: 10px; }
    .experience-list-bar-item { left: 89%; }
    .experience { width: 100%; margin-top: 50px ! important; text-align: center; }

    /*----------------------------------
    ==========     STATES     ==========
    ----------------------------------*/

    /*.is-... */
}